// ─── Styles scoped to the filer's rendered HTML ───────────────────
// All rules here relate to #dynamic-xbrl-form and its children

#dynamic-xbrl-form {
  content-visibility: auto;
  height: 100%;
  overflow: auto;
  padding: 0 15px !important;
}

#dynamic-xbrl-form * {
  box-sizing: initial;
}

// css reset 'fixes' to overwrite bootstrap stuff
#dynamic-xbrl-form section {
  all: initial;
  padding: 0 5px;
  position: relative;
  z-index: 0;


  table {
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  * {
    font-weight: revert-layer;
  }
}

#dynamic-xbrl-form section table {
  tr, th, td, p {
    // height: inherit;
  }
}

#dynamic-xbrl-form hr {
  margin-top: revert-layer;
  margin-bottom: revert-layer;
  margin-left: revert-layer;
  margin-right: revert-layer;
}

#dynamic-xbrl-form a {
  color: revert-layer;
}

#dynamic-xbrl-form [hover-fact="true"],
#dynamic-xbrl-form [continued-main-fact-id],
#dynamic-xbrl-form [contextref]:hover {
  cursor: pointer;
}

#dynamic-xbrl-form [inside-table="true"] {
  text-indent: initial;
}

#dynamic-xbrl-form [redline="true"] {
  color: #ff0099;
  text-decoration: underline;
}

#dynamic-xbrl-form [redact="true"] {
  color: #c0c0c0;
  text-decoration: underline;
}

#dynamic-xbrl-form .text-block-fact-hover {
  background-color: rgba(249, 237, 237);
  cursor: pointer;
}

#dynamic-xbrl-form .nested-continued-fact {
  background-color: white !important;
}

#dynamic-xbrl-form .continued-fact {
  background-color: rgba(249, 237, 237);
  cursor: pointer;
}

#dynamic-xbrl-form .continued-fact > * {
  background-color: rgba(249, 237, 237);
  cursor: pointer;
}